<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title%></title>
    <% include ./partials/head %>
   
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
   <main class="jumbotron">
        <h1><%= date%></h1>
        <img src="<%= record%>" alt="NASA Image of the day" width="1000px;">
        <p><%= des%></p> 
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>