<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
   <main class="jumbotron">
   
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    <div role="complementary"> there will be some new stuff that will go here</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>